<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.calculadorav2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".opcoes_area.AreaCirculoActivity"></activity>
        <activity android:name=".opcoes_area.AreaLosangoActivity" />
        <activity android:name=".opcoes_area.AreaTrapezioActivity" />
        <activity android:name=".opcoes_area.AreaTrianguloActivity" />
        <activity android:name=".opcoes_area.AreaRetActivity" />
        <activity
            android:name=".ModalareaActivity"
            android:theme="@style/Theme.AppCompat.Dialog.Alert" />
        <activity android:name=".opcoes_area.AreaQuadActivity" />
        <activity android:name=".TabuadaActivity" />
        <activity android:name=".ImcActivity" />
        <activity android:name=".JcompostoActivity" />
        <activity android:name=".SimplesActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>